/* src/app/shared/sidebar/sidebar.component.css */
.sidebar {
  overflow-y: auto;
  transition: transform 0.3s ease;
  background-color: #6c757d !important; /* bg-secondary */
  color: #fff !important;
}

.nav-link {
  border-radius: 8px;
  color: #495057;
  font-weight: 500;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

.nav-link:hover,
.nav-link.active {
  background: #e7f1ff;
  color: #060606;
}

.nav-link i {
  width: 20px;
  text-align: center;
}

/* Ẩn sidebar trên mobile */
@media (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar-offset {
    margin-left: 0 !important;
  }
}