/* src/styles.css */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Đảm bảo nội dung chính cuộn được */
.dashboard-content, .container {
  flex: 1;
}
/* src/styles.css */
.dropdown-menu {
  z-index: 1055 !important;
}

.position-absolute {
  position: absolute !important;
}